.main{
    padding: 1.75rem;
    width:100vw;
    /*min-height: 100vh;*/
}

.contenedor-producto{
    display: flex;
    justify-content: center;
}

.contenedor-producto__imagen{
    width:50%
}

.contenedor-producto__imagen img{
    display: block;
    width: 100%;
}

.contenedor-producto__info{
    padding: 1.25rem;
}

.contenedor-producto__info h2{
    margin-bottom: 1.5rem;
}

.contenedor-producto__info-descripcion{
    margin-bottom: 2.5rem;
}




